<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contact us</title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <form action="http://localhost:3000/process-contacts" method="POST">
      Height:
      <input type="text" name="height" />
      <br />
      Weight:
      <input type="text" name="weight" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>