<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reports</title>
  </head>
  <body>
    <h1>Reports</h1>
    The total BMI calculations are:
    <table>
        <thead>
        </thead>
        <tbody id="table"></tbody>
    </table>
  </body>
  <script src="js/main.js"></script>
</html>